/* MAIN Search Pokemon */
.main-search-pokemon h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    padding: 10px 0 20px 0;
    animation: showAnimationLeft .5s linear;
}


.details-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2c2c2c38;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 50;
}

.card-container{
    overflow-y: auto;
    margin: 10px;
    min-height: 70%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 27px;
    border-radius: 27px;
    animation: showAnimationIn .6s linear;
}

.card-container h1, h2{
    text-transform: uppercase;
}

.img-container img{
    width: 300px;
}

.cardDetails__principal{
    display: flex;
    gap: 27px;
    padding: 20px 0;
}
.cardDetails__principal span{
    font-weight: 100;
}

.cardDetails__secondary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.cardDetails__secondary ul li{
    padding-top: 7px;
    font-size: 20px;
}

.cardDetails__secondary .stats ul li{
    text-transform: uppercase;
    font-weight: 400;
}
.cardDetails__secondary .stats ul li span{
    font-weight: 100;
}

.details-container button{
    border: none;
    border-radius: 27px;
    padding: 10px;
    font-size: 18px;
    font-weight: 100;
    cursor: pointer;
}
.details-container button:hover{
    background: #c2c2c2;
}


/* MAIN to compare Pokemon  */

.main-compare-view{
    text-align: center;
}

.main-compare-view h1{
    padding: 20px 0 30px 0;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.8rem;
}

.comparator-container{
    display: grid;
    grid-template-areas: 'pokemon1 pokemon2'
    'stats stats';
    grid-template-columns: 40% 40%;
    grid-template-rows: 30% 70%;
    justify-content: center;
    gap: 10%;
    text-align: center;
}
.comparator-container>div:nth-child(1){
    grid-area: pokemon1;
}
.comparator-container>div:nth-child(2){
    grid-area: stats;
}
.comparator-container>div:nth-child(3){
    grid-area: pokemon2;
}

.stats-container__line{
    min-width: 100%;
    display: grid;
    grid-template-areas: 'data1 nameData data2';
    grid-template-columns: 15% 30% 15%;
    justify-content: center;
    gap: 20%;
    padding: 10px 0;
    border: 1px solid #000;
}

.first-data{
    grid-area: data1;
}
.second-data{
    grid-area: data2;
}
.name-data{
    grid-area: nameData;
    text-transform: uppercase;
}
.stats-container__line>div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.stats-container__line>div p span{
    display: block;
}

@media (min-width:772px) {
    .comparator-container{
        grid-template-areas: 'pokemon1 stats pokemon2';
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: 100%;
        gap: 0;
    }
    .stats-container{
        margin: 0 10px;
    }
}