a{
    text-decoration: none; 
    color: inherit;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    scroll-behavior: smooth;
}

.body{
    background-color: #34b8b8;
}
ul{
    list-style: none;
}

